.aboutimg-box {
  img {
    border-radius: 20%;
    max-width: 80%;
  }
}
.about-me {
  padding-top: $h1-padding * 2;
  padding-left: $h1-padding;
  padding-right: $h1-padding;
  padding-bottom: $h1-padding * 2;
  text-align: center;
  h1 {
    margin-bottom: $h1-padding;
  }
  h3 {
    font-weight: 600;
  }
  p,
  a {
    line-height: 30px;
    color: #7a7a7a;
  }
  div {
    div {
      text-align: left;
    }
  }
}

.details-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
}
.contact-button-box {
  padding-left: 0 !important;
}
.contact-details-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-left: 0 !important;
  padding-left: 0 !important;
  p {
    margin: 0;
  }
  a {
    color: $background2;
    text-decoration: none;
  }
}
.newline {
    line-height: 22px;
}