footer {
  width: 100%;
  text-align: center;

  h1 {
    margin-top: $h1-padding;
    margin-bottom: $h1-padding * 2;
  }
  .row {
    text-align: left;
    > div:nth-child(0) {
      div {
        width: 50%;
      }
    }
    > div:nth-child(3) {
      text-align: right;
    }
  }
}
.border-footer {
  border-left: 1px solid #e8e8e8;
  height: 10%;
  border-left: 1px solid #e8e8e8;
  border-image: linear-gradient(
    to bottom,
    rgba(108, 219, 141, 0) 0%,
    #e8e8e8 50%,
    #e8e8e8 0%,
    rgba(108, 219, 141, 0) 100%
  );
  border-image-slice: 1;
}
.copyright {
  color: $background2;
  font-size: 14px;
  text-align: center;
  div {
    margin-top: $h1-padding;
    text-align: center;
  }
  p > a {
    margin-left: $h1-padding / 5;
    color: $background2;
    text-decoration: none;
  }
}
.icon-footer {
  font-size: 30px;
  margin-top: 3px;
  margin-right: $h1-padding / 3;
}
.contact-details-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  div {
    display: flex;
    flex-direction: column;
    a {
      color: $background2;
      text-decoration: none;
      line-height: 60px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    a:hover {
      color: $colorhover;
    }
  }
}
.go-top {
  display: none;
}
.active {
  display: block;
  position: fixed;
  width: 10%;
  cursor: pointer;
  z-index: 99;
  height: 10%;
  bottom: 1px;
  right: 1px;
  margin-right: -40px;
}
