@media (min-width: 960px) {
  .header-container {
    max-width: 100% !important;
  }
}
@media (min-width: 1400px) {
  .header-container {
    max-width: 100% !important;
  }
}
@media (max-width: 769px) {
  .details-container {
    display: flex;
  }
  .header-container {
    max-width: 770px !important;
  }
}
@media (max-width: 426px) {
  .details-container {
    flex-direction: column;
    .contact-button-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
  .portfolio-buttons {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  footer,
  .form-container,
  #contact-form,
  .captcha-box > div > div > div > iframe,
  .captcha-box > div > div > div,
  .captcha-box > div > div,
  .captcha-box > div,
  .captcha-box {
    max-width: 100%;
  }
  .captcha-box > div > div > div > iframe,
  .captcha-box > div > div > div,
  .captcha-box > div > div,
  .captcha-box > div,
  .captcha-box {
    width: 100%;
  }
  .about-me {
    padding: 125px 30px 50px 30px;
  }
  .work-box {
    text-align: center;
    .row > div:nth-child(1) {
      margin-bottom: $h1-padding;
    }
  }
  .abouttxt-box {
    text-align: left;
  }
  .headet-txt-box {
    width: 85%;
    > h3 {
      padding: 0.5% 5% 0.5% 5%;
    }
  }
  .header-container {
    min-height: 800px;
  }
  .scrolldown {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .navbar-nav {
    a {
      padding-top: $h1-padding / 8;
    }
  }
  .active {
    right: 40px;
  }
  .contact-details-box {
    text-align: center;
  }
  #contact-form {
    h4 {
      text-align: center;
      margin-top: $h1-padding;
    }
  }
  .btn-primary {
    width: 100%;
  }
  .copyright > div {
    margin-top: 0;
  }
}
