h1 {
  color: $myColor;
  font-size: 50px;
}
.App:nth-child(3n + 1) {
  background-color: $background1 !important;
  color: $background2;
}
// .App:nth-child(2n + 1) {
//   background-color: $background2 !important;
//   color: $background1;
// }
// .App {
//     background-color: bla;
// }
form {
    max-width: 600px;
  }
  div[role="alert"] {
    color: red;
  }
  .message-chars-left {
      width: 600px;
      margin: auto;
      text-align: left;
    }
  /* .label-box {
    display:  flex;
  
  } */
  .contact-form, .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }