.tech {
  background-color: $background2;
  color: $background1;
//   padding: 150px;
  div {
    //   display: flex;
    //   flex-direction: column;
    //   text-align: center;
    //   align-items: center;
    //   justify-content: center;
      p{
        //   padding: 20px;
          font-weight: 600;
      }
  }
}
